{{#if siteSettings.time_tracker_enabled}}
  <div class="time-tracker-topic-title">
    <div class="timer"></div>
    {{d-button
      icon="stop"
      class="btn-large btn-danger"
    }}
  </div>
{{/if}}