.time-tracker-controls {
  display: flex;
  position: absolute;
  right: 150px;
  top: 3px;
  .widget-link {
    height: 35px;
    width: 35px;
  }
  .timer-topic-link {
    color: $header-primary;
    margin: 0 5px 0 0;
    position: relative;
    top: 5px;
  }
  .btn-danger {
    border-radius: 50em;
    padding: 0px;
    .d-icon-stop {
      height: 20px;
      position: relative;
      top: 7px;
    }
  }
}
.time-tracker-topic-title {
  padding: 10px 0 0 0;
  width: 100%;
  display: flex;
  margin-right: 10px;
  max-width: 757px;
  align-items: center;

  .timer {
    text-align: right;
    font-size: 33px;
    line-height: 1;
    margin-right: 15px;
  }

  .timer, .timer-gap {
    flex: 1;
  }

  .tt-num {
    &.hours {
      font-weight: bold;
      color: $primary-high;
    }

    &.minutes {
      color: $primary-high;
    }

    &.seconds {
      color: $primary-medium;
    }
  }

  .tt-sep {
    color: $primary;
  }
}
