{{#if siteSettings.time_tracker_enabled}}
  <div class="control-group time-tracker">
    <label class="control-label">Toggl API Key</label>
    <div class="controls">
        <label class='text-label'>
          {{input type="text" class="input-xxlarge" value=model.custom_fields.toggl_api_key}}
        </label>
    </div>
    <label class="control-label">Toggl Workspace</label>
    <div class="controls">
        <label class='text-label'>
          {{combo-box valueAttribute="value" content=getWorkspaces value=model.custom_fields.toggl_workspaces}}
        </label>
    </div>
  </div>
{{/if}}
