{{#if siteSettings.time_tracker_enabled}}
  <section class='field'>
    <label class="checkbox-label">
      {{input type="checkbox" checked=category.custom_fields.enable_time_tracker}}
      {{i18n "time_tracker.enable_time_tracker"}}
    </label>
  </section>
{{/if}}
